  <div class="show">
      <div class="container">
        <div class="top-image">
          <img src=" <%= "/post_images/#{@post.id}.png" %>">
        </div>
        <div class="data">
          <img src="<%= "/user_images/#{@post.author_id}.jpg" %>">
          <%= link_to(@post.author,"/users/#{@post.author_id}") %>
          <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
            <%= link_to("/likes/#{@post.id}/destroy",{method: "post"}) do %>
              <span class="fa fa-heart done"></span>
            <% end %>
            <%= @likes_count %>
          <% else %>
            <%= link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
              <span class="far fa-heart iine"></span>
            <% end %>
            <%= @likes_count %>
          <% end %>

          <% if @current_user.id == @post.author_id  %>
            <%= link_to("編集","/posts/#{@post.id}/edit") %>
          <% end %>
        </div>
          <h1><%= @post.title %></h1>
          <div class="post-content">
            <p><%= @post.content %></p>
          </div>


      </div>
    </div>
