<div class="contents">
  <div class="background">
    <div class="show">
      <div class="post">
        <div class="title"><%= @post.title %></div>
          <div class="author">
            <% image = @post.author_id %>
            <% author = User.find_by(id: image) %>
            <img src="<%= "/user_images/#{author.image_name}" %>">
            <h2><%= link_to(@post.author,"/users/#{@post.author_id}") %></h2>
            <div class="henshu">
            <% if @current_user.id == @post.author_id  %>
              <%= link_to("編集","/posts/#{@post.id}/edit") %>
            <% end %>
            </div>

          </div>
          <div class="detail">
            <h3>どんなアイデア？</h3>
              <p><%= @post.content %></p>
            <h3>なぜそのアイデア？</h3>
              <p><%= @post.reason %></p>
            <h3>みんなに聞きたいこと</h3>
              <p><%= @post.asking %></p>
          </div>
    </div>
    </div>
    <div class="back">
    <%= link_to("＜一覧に戻る","/posts/index") %>
    </div>

    </div>



</div>
